# -*- coding: utf-8 -*-
from scrapy.spiders import CrawlSpider, Rule
from scrapy.linkextractors import LinkExtractor
from urlExtract.items import UrlextractItem
import re


class $classname(CrawlSpider):
    name = '$name'
    allowed_domains = ['$domain']
    start_urls = ['http://$domain/']

    rules = (
        Rule(LinkExtractor(allow_domains=('$domain',)), callback='parse_url', follow=False),
    )

    def parse_url(self, response):
        if len(response.url) < 100:
            item = UrlextractItem()
            item['site'] = '$name'
            item['url'] = response.url
            yield item
            try:
                try:
                    url = re.search('http.*?$name.*?/.*?/', response.url).group()
                except AttributeError:
                    url = re.search('.*?$domain/', response.url).group()
                item = UrlextractItem()
                item['site'] = '$name'
                item['url'] = url
                yield item
            except AttributeError:
                pass
